@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

html{
	background-color: #413156;
	font-family: 'Comfortaa', cursive;
}

body{
	margin:0px;
}

.navigation {
  overflow: hidden;
  background-color: #dfb1bb;
  /*position: fixed;  /*Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0; 
  width: 100%;
  margin: 0px 0px;
  -webkit-box-shadow: 0px 9px 23px 0px rgba(0,0,0,0.64); 
  box-shadow: 0px 9px 23px 0px rgba(0,0,0,0.64);
}

.navigation a {
  float: left;
  display: block;
  color: #413156;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background: #7d576c;
  color: white;
}

.dropbtn {
    background-color: #dfb1bb;
    color: #413156;
    border: none;
 	padding: 14px 40.5px;
}

.dropdown {
	float:right;
}

.dropdown-content {
    display: none;
    position: absolute; /*is positioned relative to the nearest positioned ancestor*/
    background-color: #dfb1bb;
    width: 95px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #413156;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.bienvenida{
	margin-top: 50px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
}

.logo{
	color: white;
	font-size: 40px;
	width: 50%;
	margin-left: 10px;
}

.bienvenida img{
	margin: 50px auto;
	width: 50%;
	padding: 30px;
	border-right: 5px solid white;
}

.center{
	display: block;
	margin-top: 120px;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	overflow:auto;
}

.button{
	margin: 10px 50px;
	color: #413156;
	width: 250px;
	background-color:#9370DB;
	border: none;
	text-align: center;
	font-size: 13px;
	align-self: center;
	align-items: center;
	padding: 10px 50px;
	font-weight: 600;
	border-radius: 10px;
}

.button img{
	display: inline;
	float:left; 
	width: 30%;
	padding-top: 3px;
}

.button:hover{
	background-color: white;
	color: #413156;
}

.siguiente{
	display: block;
	margin: 10px auto;
	text-align: center;
	background-color: #dfb1bb;
	color: #413156;
	border: none;
	font-size: 18px;
	padding: 13px 10px;
	font-weight: 600;
	border-radius: 4px;
}

.siguiente:hover{
	background-color: black;
	color: white; 
}

.contador{
	display: block;
	margin: auto;
	width: 18%;
	height: 180px;
	background-color: #dfb1bb;
	-webkit-box-shadow: 2px 4px 18px 4px rgba(0,0,0,0.66); 
	box-shadow: 2px 4px 18px 4px rgba(0,0,0,0.66);
	padding: 55px 20px;
	color: #413156;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	border-radius: 350px;
}

.videos{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.contacto{
	display: block;
	margin: 100px auto;
	border-top: 2px solid #dfb1bb;
	width: 500px;
}

input{
	display: block;
	margin: 20px auto;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	padding: 12px 40px 12px 20px;
	width: 700px;
	text-align: initial;
	font-family: 'Comfortaa', cursive;
}

textarea{
	display: block;
	margin: 20px auto;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	padding: 12px 40px 12px 20px;
	width: 700px;
	height: 200px;
	text-align: initial;
	font-family: 'Comfortaa', cursive;
}
.contacto button{
	display: block;
	margin: 1px auto;
	color: #413156;
	background-color:#F1F1F1;
	border: none;
	text-align: center;
	font-size: 16px;
	padding: 13px 10px;
	font-weight: 600;
	border-radius: 4px;
	width: 100px;
}

.contacto button:hover{
	background-color: #9370DB;
}

.nosotros{
	display: block;
	border-top: 2px solid #dfb1bb;
	margin: 200px auto;
	width: 500px;
	height: 550px;
	color: white;
	text-align: center;
}

.cuentanos {
	display: block;
	border-top: 2px solid #dfb1bb;
    margin: 20px auto;
    width: 500px;
    color: white;
    font-family: 'Comfortaa';
    font-size: 24pt;
    padding: 10px;
    text-align: center;
}

.centrar {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.textarea {
	display: block;
	margin: 10px auto;
}

.musica {
	display: block;
    margin: 100px auto;
    width: 500px;
    color: white;
    font-family: 'Comfortaa';
    font-size: 24pt;
    border-top: 2px solid #dfb1bb;
    padding: 50px;
    text-align: center;
}

.audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.gracias {
	display: block;
    margin: 100px auto;
    width: 500px;
    color: white;
    font-family: 'Comfortaa';
    font-size: 24pt;
    border-top: 2px solid #dfb1bb;
    padding: 30px;
    text-align: center;
}

.valoracion {
    width: 600px;
    height: 85px;
    padding: 10px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
